<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Tic-Tac-Toe
  </h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <button (click)="startGame()" class="btn btn-lg btn-success">Start Game</button>
    </div>

    <div class="col-md-2">
      <button *ngIf="isGameOver" (click)="playAgain()" class="btn btn-lg btn-primary">Play again</button>
    </div>
    <div class="col-md-2">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <button (click)="playWithComputer()" class="btn btn-lg btn-warning">Play with Computer</button>
    </div>
  </div>
  <br>

  <br>
  <div class="row">
    <h2 *ngIf="isGameStarted && !isGameOver">
      <span class="label label-info"> Player {{isPlayerOneTurn? 'X':'O'}} Turn...</span>
    </h2>
    <h1 *ngIf="isGameOver">
      <span class="label label-primary"> {{winnerMessage}} </span>
    </h1>
  </div>

  <div>

  </div>

  <table>
    <tr *ngFor="let currentRow of data; let rowIndex = index">
      <td *ngFor="let currentColumn of data[rowIndex]; let colIndex = index" (click)="userPlayed(rowIndex,colIndex)">
        {{getSymbol(data[rowIndex][colIndex])}}
      </td>
    </tr>
  </table>
</div>